Package: osjs
Section: net
Priority: optional
Architecture: amd64
Maintainer: "Anders Evenrud" <andersevenrud@gmail.com>
Version: VERSION
Depends: nodejs (>= 10)
Description: OS.js debian build
  OS.js Client and Server build
