[Unit]
After=systemd-user-sessions.service
After=osjs.service

[Service]
User=user
ExecStart=/bin/bash -c 'startx /etc/X11/Xsession /opt/osjs/bin/run-electron.sh --'
WorkingDirectory=/opt/osjs

[Install]
WantedBy=multi-user.target
